<div class="card">
    <form (ngSubmit)="EditProduct()">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <!-- product: Product = { prod_id: '', prod_name: '', prod_code: '', release_code: '', prod_desc: '', prod_price: null, starrating: null, image: null }; -->

                            <td><label>Product Id</label></td>
                            <td><input type="text" name="p_id" [(ngModel)]="product.prod_id" value="product.productId"/></td>
                        </tr>
                        <tr>
                            <td><label>Product Name</label></td>
                            <td><input type="text" name="p_name" [(ngModel)]="product.prod_name"/></td>
                        </tr>
                        <tr>
                            <td><label>Product Code</label></td>
                            <td><input type="text" name="p_code" [(ngModel)]="product.prod_code"/></td>
                        </tr>
                        <tr>
                            <td><label>Release Date</label></td>
                            <td><input type="date" name="p_date" [(ngModel)]="product.release_code"/></td>
                        </tr>
                        <tr>
                            <td><label>Description</label></td>
                            <td><input type="text" name="p_description" [(ngModel)]="product.prod_desc"/></td>
                        </tr>
                        <tr>
                            <td><label>Price</label></td>
                            <td><input type="number" name="p_price" [(ngModel)]="product.prod_price"/></td>
                        </tr>
                        <tr>
                            <td><label>Star Rating</label></td>
                            <td><input type="number" name="p_starrating" [(ngModel)]="product.starrating"/></td>
                        </tr>
                        <tr>
                            <td><label>Image</label></td>
                            <td><input type="text" name="p_image" [(ngModel)]="product.image"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Submit"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<!-- <%=book._id%> -->